name: Application Deployment
on:
    workflow_dispatch:
    workflow_run:
        workflows: ["CI pipeline for the solar-system app","Infrastructure Provisioning using Terraform"]
        types:
            - completed

jobs:
    cd:
        name: Deploy to EKS cluster
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.REGION }}

            - name: update kubeconfig
              run: |
                aws eks update-kubeconfig --name ${{ secrets.CLUSTER_NAME }} --region ${{ vars.REGION }}

            # - name: Setup kubectl
            #   uses: statsig-io/kubectl-via-eksctl@main
            #   env:
            #     aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            #     aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            #     region: ${{ vars.REGION }}
            #     cluster: ${{ secrets.CLUSTER_NAME }}

            - name: Helm tool installer
              uses: Azure/setup-helm@v4.3.1

            - name: Deploy helm chart
              run: |
                helm upgrade --install solar-system-app ./solar-system

            - name: Verify deployment
              run: |
                kubectl get pods
                kubectl get svc
