name: My first workflow on GitHub Actions
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.0

            - name: Install cowsay
              run: sudo apt-get update && sudo apt-get install -y cowsay

            - name: Generate ASCII Artwork
              run: |
                cowsay -f dragon "Run for cover, I am a DRAGON....RAWR" >> dragon.txt
                cat dragon.txt