name: My first workflow on GitHub Actions
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v6.0.0

            - name: Run shell script
              run: ./ascii-script.sh
