name: CI pipeline for the solar-system app
on: push

jobs:
    unit-testing:
        name: Unit Testing
        runs-on: ubuntu-latest
        env:
            MONGO_URI: ${{ vars.MONGO_URI }}
            MONGO_USERNAME: ${{ vars.MONGO_USERNAME }}
            MONGO_PASSWORD: ${{ secrets.MONGO_PASSWORD }}

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v6

            - name: Setup Node.js Environment
              uses: actions/setup-node@v6.0.0
              with:
                node-version: 18

            - name: Install Dependincies
              run: npm install

            - name: Run Unit Testing
              run: npm test

            - name: Archive Test Result
              uses: actions/upload-artifact@v4
              with:
                name: Mocha-Test-Result
                path: test-results.xml
    
    code-coverage:
        name: Code Coverage
        needs: unit-testing
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v6

            - name: Setup Node.js Environment
              uses: actions/setup-node@v6.0.0
              with:
                node-version: 18

            - name: Install Dependincies
              run: npm install

            - name: Generate coverage reports
              run: npm run coverage
              continue-on-error: true

            - name: Archive Coverage Result
              uses: actions/upload-artifact@v4
              with:
                name: Code-Coverage-Result
                path: coverage

              