name: My first workflow on GitHub Actions
on: [push]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Install cowsay
              run: sudo apt-get install cowsay -y

            - name: Generate Ascii
              run: cowsay -f dragon "Run for cover, I am a DRAGON....RAWR" >> dragon.txt

            - name: Upload a Build Artifact
              uses: actions/upload-artifact@v5.0.0
              with:
                name: dragon-artifact
                path: dragon.txt

    test:
        runs-on: ubuntu-latest
        needs: build
        steps:    
            - name: Download a Build Artifact
              uses: actions/download-artifact@v6.0.0

            - name: Test file exists
              run: grep -i "dragon" dragon.txt