name: Infrastructure Provisioning using Terraform
on: workflow_dispatch
jobs:
    plan:
        name: Terraform plan
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./terraform
        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.REGION }}

            - name: HashiCorp - Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2

            - name: Terraform init
              run: terraform init

            - name: Terraform plan
              run: terraform plan -out=tfplan

            - name: Upload a plan Artifact
              uses: actions/upload-artifact@v5.0.0
              with:
                name: tfplan
                path: ./terraform/tfplan

    apply:
        name: Terraform Apply
        runs-on: ubuntu-latest
        needs: plan
        defaults:
            run:
                working-directory: ./terraform
        steps:
            - name: checkout
              uses: actions/checkout@v6

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v5.1.1
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ vars.REGION }}

            - name: HashiCorp - Setup Terraform
              uses: hashicorp/setup-terraform@v3.1.2
            
            - name: Terraform init
              run: terraform init

            - name: Download a Build Artifact
              uses: actions/download-artifact@v6.0.0
              with:
                name: tfplan
                path: ./terraform

            - name: Terraform apply
              run: terraform apply -auto-approve tfplan

            - name: Upload Terraform State
              uses: actions/upload-artifact@v4
              with:
                  name: tfstate
                  path: ./terraform/terraform.tfstate

            

    